@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, input, label, button, a {
	color: #5b5b5b;
	font-family: 'Lilita One', cursive;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}
h2, .title {
	font-size: 32px;
}
h3, .subtitle {
	font-size: 28px;
}
h4, .font-xl {
	font-size: 24px;
}
h5, font-l {
	font-size: 20px;
}

.color1 {
	background-color: #76B7E7;
}
.color2 {
	background-color: #E77676;
}
.color3 {
	background-color: #E7BA76;
}
.color4 {
	background-color: #AE76E7;
}
.color5 {
	background-color: #7ACC78;
}
.color6 {
	background-color: #CB7D45;
}
.color7 {
	background-color: #6A6ED6;
}
.color8 {
	background-color: #A45757;
}
.color9 {
	background-color: #ABA859;
}
.color10 {
	background-color: #E776C7;
}
.color11 {
	background-color: #648C66;
}
.color12 {
	background-color: #75C6B7;
}
.color13 {
	background-color: #AFAFAF;
}
.color14 {
	background-color: #383838;
}
.color15 {
	background-color: #FFFFFF;
	color: #383838 !important;
}
.color16 {
	background-color: #8C246F;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}